apiVersion: apps/v1
kind: Deployment
metadata:
    name: bomes-bomes-http-auth
spec:
    replicas: 2
    selector:
        matchLabels:
            app: bomes-bomes-http-auth
    template:
        metadata:
            labels:
                app: bomes-bomes-http-auth
        spec:
            containers:
                - name: bomes-bomes-http-auth
                  image: bomes-hub:5000/bomes-bomes-http-auth:latest
                  env:
                      - name: CORE_ADDRESS
                        value: "bomes-http-core-service:3000"
                      - name: TZ
                        value: Europe/Moscow
                      - name: RabbitMQ_host
                        value: rabbitmq
                      - name: RabbitMQ_port
                        value: "5672"
